@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
}

.styleBtn{
    @apply flex items-center justify-center px-2 py-2 font-semibold shadow-md shadow-black
}

.country{
    @apply flex flex-col mx-auto xl:flex-row gap-5 z-0 max-w-[1440px] relative ;
}
.conutry-title{
    @apply  2xl:text-[72px] sm:text-[64px] text-[50px] font-extrabold ;
}
.conutry-subtitle{
    @apply  font-light text-black w-full text-xl 
}
.contry-container-image{
    @apply flex justify-end items-end w-full xl:flex-[1.5] ;
}
.country-image{
    @apply w-[90%] xl:w-full relative h-[590px] z-0;
}
.bg-contry{  
    @apply  bg-bg-bakery w-full h-[80px] z-10 bg-repeat-round xl:-top-12 -right-24 xl:-right-1/2 overflow-hidden xl:h-screen
    
}

/* product  */

.home-container{
    @apply flex flex-col items-center justify-center w-full font-extrabold text-2xl;
}
.home-bakery{
    @apply grid grid-cols-1 gap-x-6 gap-y-10 xl:grid-cols-3 md:grid-cols-2 lg:grid-cols-4 2xl:grid-cols-4 mt-16 sm:grid-cols-2 xl:gap-x-8
}

.card{
    @apply flex flex-col p-6 justify-center  items-start text-black rounded-2xl hover:shadow-sm bg-slate-400 hover:bg-white
}